:root{
    --lightgray: #e0e0e0;
    --darkblue: #000c7b;
}

body{
    background: var(--lightgray);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin: 0 auto;
    align-items: center;
    background-color: #000c7b;
    border-radius: 4px;
}

h1{
    margin: 0 auto;
    text-align: center;
}

.header-p{
    margin: 0 auto;
    text-align: center;
}