:root{
    --lightgray: #e0e0e0;
    --darkblue: #000c7b;
}

body{
    background: var(--lightgray);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin: 0 auto;
    text-align: center;
    background-color: #000c7b;
    border-radius: 6px;
}

h1{
    margin: 0 auto;
    text-align: center;
}

#country-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    background-color: cadetblue;
    border-radius: 6px;
}

#input-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    column-gap: 10px;
    text-align: center;
    align-items: center;
    border: 3px solid var(--darkblue);
    margin: 0 auto;
    border-radius: 6px;
}

#submitButton{
  background-color: var(--darkblue);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}